In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [8]:
sale_info = pd.read_csv('../../data/raw/EXTR_RPSale.csv')
sale_info.head(2)

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,...,PropertyType,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning
0,2857854,198920,1430,03/28/2017,0,20170410000541,,,,,...,3,7,15,N,N,N,N,16,2,20 31
1,2743355,638580,110,07/14/2015,190000,20150715002686,,,,,...,3,6,3,N,N,N,N,1,8,15

In [9]:
to_drop = ['Volume','Page','PlatNbr', 'PlatType', 'PlatLot', 'PlatBlock', 'AFForestLand','AFCurrentUseLand',
          'AFNonProfitUse', 'AFHistoricProperty', 'SellerName', 'BuyerName', 'SaleReason', 'PropertyClass', 'SaleWarning']
sale_info.drop(to_drop, axis=1, inplace=True)

In [10]:
sale_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351067 entries, 0 to 351066
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ExciseTaxNbr    351067 non-null  int64
 1   Major           351067 non-null  int64
 2   Minor           351067 non-null  int64
 3   DocumentDate    351067 non-null  object
 4   SalePrice       351067 non-null  int64
 5   RecordingNbr    351067 non-null  object
 6   PropertyType    351067 non-null  int64
 7   PrincipalUse    351067 non-null  int64
 8   SaleInstrument  351067 non-null  int64
dtypes: int64(7), object(2)
memory usage: 24.1+ MB

In [11]:
housing_data = pd.read_csv('../../data/raw/EXTR_ResBldg.csv')
housing_data.head(2)

,Major,Minor,BldgNbr,NbrLivingUnits,Address,BuildingNumber,Fraction,DirectionPrefix,StreetName,StreetType,...,FpMultiStory,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,Obsolescence,PcntNetCondition,Condition,AddnlCost
0,9800,720,1,1,27719 SE 26TH WAY 98075,27719,,SE,26TH,WAY,...,0,0,0,2001,0,0,0,0,3,0
1,9802,140,1,1,2829 277TH TER SE 98075,2829,,,277TH,TER,...,0,0,0,2004,0,0,0,0,3,0

In [12]:
housing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181510 entries, 0 to 181509
Data columns (total 50 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Major               181510 non-null  int64
 1   Minor               181510 non-null  int64
 2   BldgNbr             181510 non-null  int64
 3   NbrLivingUnits      181510 non-null  int64
 4   Address             181510 non-null  object
 5   BuildingNumber      181510 non-null  object
 6   Fraction            181510 non-null  object
 7   DirectionPrefix     181146 non-null  object
 8   StreetName          181510 non-null  object
 9   StreetType          181510 non-null  object
 10  DirectionSuffix     181146 non-null  object
 11  ZipCode             154594 non-null  object
 12  Stories             181510 non-null  float64
 13  BldgGrade           181510 non-null  int64
 14  BldgGradeVar        181510 non-null  int64
 15  SqFt1stFloor        181510 non-null  int64
 16  SqFtHalfFloor       181510 non-null  int64
 17  SqFt2ndFloor        181510 non-null  int64
 18  SqFtUpperFloor      181510 non-null  int64
 19  SqFtUnfinFull       181510 non-null  int64
 20  SqFtUnfinHalf       181510 non-null  int64
 21  SqFtTotLiving       181510 non-null  int64
 22  SqFtTotBasement     181510 non-null  int64
 23  SqFtFinBasement     181510 non-null  int64
 24  FinBasementGrade    181510 non-null  int64
 25  SqFtGarageBasement  181510 non-null  int64
 26  SqFtGarageAttached  181510 non-null  int64
 27  DaylightBasement    181510 non-null  object
 28  SqFtOpenPorch       181510 non-null  int64
 29  SqFtEnclosedPorch   181510 non-null  int64
 30  SqFtDeck            181510 non-null  int64
 31  HeatSystem          181510 non-null  int64
 32  HeatSource          181510 non-null  int64
 33  BrickStone          181510 non-null  int64
 34  ViewUtilization     181510 non-null  object
 35  Bedrooms            181510 non-null  int64
 36  BathHalfCount       181510 non-null  int64
 37  Bath3qtrCount       181510 non-null  int64
 38  BathFullCount       181510 non-null  int64
 39  FpSingleStory       181510 non-null  int64
 40  FpMultiStory        181510 non-null  int64
 41  FpFreestanding      181510 non-null  int64
 42  FpAdditional        181510 non-null  int64
 43  YrBuilt             181510 non-null  int64
 44  YrRenovated         181510 non-null  int64
 45  PcntComplete        181510 non-null  int64
 46  Obsolescence        181510 non-null  int64
 47  PcntNetCondition    181510 non-null  int64
 48  Condition           181510 non-null  int64
 49  AddnlCost           181510 non-null  int64
dtypes: float64(1), int64(39), object(10)
memory usage: 69.2+ MB

In [5]:
parcel = pd.read_csv('../../data/raw/EXTR_Parcel.csv')
parcel.head(2)

,Unnamed: 0,Major,Minor,PropName,PlatName,PlatLot,PlatBlock,Range,Township,Section,...,SeismicHazard,LandslideHazard,SteepSlopeHazard,Stream,Wetland,SpeciesOfConcern,SensitiveAreaTract,WaterProblems,TranspConcurrency,OtherProblems
0,0,807841,410,,SUMMER RIDGE DIV NO. 02,41,,6,25,22,...,N,N,N,N,N,N,N,N,N,N
1,2,755080,15,,SANDER'S TO GILMAN PK & SALMON BAY,3,1,3,25,11,...,N,N,N,N,N,N,N,N,N,N